.game-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  background-color: #72c9f3;
  overflow: hidden;
}

.game-title {
  position: relative;
  font-size: 10vw;
  width: 90%;
  top: -9vh;
  font-family: title;
  position: absolute;
  top: 5vh;
  color: #d3e6f7;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* color: rgba(247, 242, 242, 0.94); */
  /* top: -7vh; */
  /* top: 0vh; */
  /* margin-bottom: 9vh; */
  /* margin-top: -15vh; */
}
.text-container {
  width: 43%;
  height: 30vh;
  background-color: #0695ed;
  color: rgb(228, 228, 228);
  /* border: solid #0000ff; */
  border-radius: 5rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
  position: relative;
  bottom: 16vh;
  /* height: -moz-fit-content; */
  min-height: 17vh;
  /* height: fit-content; */
}

.text-paragrapgh {
  width: 95%;
  font-size: 1.5vw;
  position: relative;
  top: -1vh;
  font-family: normal-text;
}

.hint-icon {
  width: 2vw;
  height: 2vh;
  display: inline-block;
  /* background-color: yellow; */
  background-size: 100% 100%;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0;
  position: relative;
  bottom: 5.2vh;
  /* margin-top: 7vh; */
  /* margin-bottom: 10vh; */
}

.letters-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 35vw; */
  justify-content: space-around;
  /* border: solid rgb(21, 255, 0); */
}

.low-row-letters {
  /* margin-right: 1vw; */
  margin-top: 2vh;
  position: relative;
  top: 1vh;
}

.letter-input {
  width: 1vw;
  height: 5.3vh;
  padding: 0.5em;
  margin-left: 2vw;
  font-size: 2vw;
  border-radius: 1.5rem;
  display: flex;
  text-align: center;
  border: none;
  background-color: #bce5fd;
}

.correct {
  background-color: #8cc63f;
}

.wrong {
  background-color: rgb(232, 87, 87);
}

.hint-icon-hidden {
  visibility: hidden;
  display: none;
}

.display-btn {
  visibility: visible;
  display: block;
}

.hint-container-hidden {
  visibility: hidden;
  display: none;
}

.hint-container-showed {
  visibility: visible;
  display: block;
}

.hint-container {
  width: 43%;
  background-color: rgb(6, 149, 237);
  border: solid white;
  color: aliceblue;
  font-family: normal-text;
  font-weight: 800;
  border-radius: 7rem;
  padding: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 18vh;
  position: absolute;
  top: 42vh;
  /* position: absolute;
    top: 42vh;
    right: 27.5vw; */
}

.hint-container-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.504);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hint-title {
  position: relative;
  width: 90%;
  top: 0vh;
  margin: 0;
  font-size: 4vw;
  top: -3vh;
  background-color: rgb(6, 149, 237);
  border-top: solid white;
  border-radius: 2em;
  width: 22vw;
}

.close-hint-btn {
  width: 2vw;
  height: 3vh;
  margin: 0;
  /* background-image: url("./../../media/images-lomda/close-btn.png"); */
  background-size: 100% 100%;
  position: absolute;
  top: -2.5vh;
  right: 2vw;
}

.info-icon {
  width: 2vw;
  height: 3vh;
  display: inline-block;
  /* background-color: rgb(66, 119, 135); */
  /* background-image: url("./../../media/images-lomda/svg/"); */
  background-size: 100% 100%;
  margin-right: auto;
  margin-left: 2vw;
  position: relative;
  top: 1vh;
  /* visibility: hidden; */
}

.hint-text {
  width: 95%;
  font-size: 1.5vw;
  /* position: relative; */
  /* bottom: 5vh; */
  font-family: normal-text;
}

.white-answers-wrapper {
  /* width: 100vw;
  height: 30vh;
  background-color: white;
  position: absolute;
  bottom: -10vh;
  height: 37vh;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  background-color: white;
  position: absolute;
  bottom: -3vh;
  height: 41vh;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.question-text {
  position: relative;
  top: 3vh;
  /* font-family: bold-text; */
  font-weight: 700;
}

.hint-icon-rules {
  width: 6vw;
  height: 3vh;
  display: inline-block;
  background-image: url("./../../media/images-lomda/hint-icon.png");
  background-size: 100% 100%;
  transition: ease 2s;
  animation: scale-info infinite 3s;
  animation-delay: 4s;
  /* transform: scale(1.2);
    /* margin-top: auto; */
}

.congratulations-container {
  width: 78%;
  border-radius: 3rem;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 18vh;
  height: 23vh;
  position: absolute;
  top: 27vh;
  right: 3.5vw;
  background-color: #bce5fd;
  border: 1px solid #084365;
  /* padding: 10px; */
  box-shadow: 5px 10px #084365;
}

.congratulation-text {
  font-size: 7.8vw;
}

.congratulation-title {
  animation: title-growth 1s ease;
  animation-iteration-count: 1;
  font-size: 10vw;
  color: #5d8627;
}

@keyframes title-growth {
  0% {
    font-size: 7vw;
  }

  100% {
    font-size: 10vw;
  }
}

@keyframes scale-info {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 690px) {
  .game-title {
    /* position: relative; */
    width: 90%;
    font-size: 13vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
    /* top: 0.01vh; */
    /* top: -4vh; */
    position: absolute;
    top: 3vh;
    /* margin-top: -15vh; */
  }

  .text-container {
    /* width: 92vw;
    height: 36vh;

    border-radius: 2rem;
    padding: 0.3em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5vh;
    padding-bottom: 4em;
    min-height: 30vh;
    position: absolute;
    bottom: 33vh; */

    width: 93%;
    height: 36vh;
    /* border: solid #0000ff; */
    border-radius: 2rem;
    padding: 0.3em 1em;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: -5vh;
    /* height: fit-content; */
    padding-bottom: 4em;
    min-height: 30vh;
    position: absolute;
    bottom: 33vh;
    right: 0;
    /* top: 39vh; */
  }

  .text-paragrapgh {
    width: 95%;
    font-size: 6vw;
  }

  .letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0;
    position: relative;
    bottom: 5.2vh;
    /* margin-top: 7vh; */
    /* margin-bottom: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* height: 30vh; */
    margin: 0;
    /* background-color: white;
    position: absolute;
    bottom: -5vh;
    height: 37vh;
    border-radius: 2em; */

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0;
    position: relative;
    bottom: 8.5vh; */
    /* margin-top: 7vh; */
    /* margin-bottom: 10vh; */
  }

  .letters-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35vw;
    justify-content: space-around;
    /* border: solid rgb(21, 255, 0); */
  }

  .low-row-letters {
    margin-right: 1vw;
    margin-top: 2vh;
    position: relative;
    top: 1vh;
  }

  .letter-input {
    width: 5vw;
    height: 4vh;
    padding: 0.3em;
    margin-left: 4vw;
    font-size: 10vw;
    color: white;
    font-family: bold-text;
    border-radius: 0.6rem;
    display: flex;
    text-align: center;
    /* background-color: lightblue; */
  }

  .hint-icon {
    width: 14vw;
    height: 10vh;
    display: inline-block;
    /* background-color: yellow; */
    background-size: 100% 100%;
    margin-top: auto;
    position: relative;
    top: -10vh;
  }

  .hint-icon-rules {
    width: 6vw;
    height: 3vh;
    display: inline-block;
    background-image: url("./../../media/images-lomda/hint-icon.png");
    background-size: 100% 100%;
    transition: ease 2s;
    animation: scale-info infinite 3s;
    animation-delay: 4s;
    /* transform: scale(1.2);
    /* margin-top: auto; */
  }

  .info-icon {
    width: 10vw;
    height: 6vh;
    display: inline-block;
    background-size: 100% 100%;
    position: absolute;
    top: -3vh;
    right: 2vw;
    /* margin-right: auto;
    margin-left: 2vw;
    position: relative;
    top: 1vh; */
    /* visibility: hidden; */
  }

  .hint-icon-hidden {
    visibility: hidden;
    display: none;
  }

  .display-btn {
    visibility: visible;
    display: block;
  }

  .hint-container {
    width: 78%;
    /* background-color: rgb(228, 185, 105); */
    border-radius: 3rem;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 18vh;
    height: 17vh;
    position: absolute;
    top: 42vh;
    right: 4.5vw;
  }

  .hint-text {
    justify-self: center;
    width: 95%;
    font-size: 5.8vw;
  }

  .hint-title {
    position: absoute;
    margin: 0;
    margin-bottom: 4vh;
    top: -3vh;
    background-color: rgb(6, 149, 237);
    border-top: solid white;
    border-radius: 1.5em;
    width: 22vw;
  }

  .close-hint-btn {
    width: 11vw;
    height: 5.5vh;
    margin: 0;
    background-size: 100% 100%;
    position: absolute;
    top: -2.5vh;
    right: 4vw;
  }
}
