.character {
  position: absolute;
  /* top: 70vh; */
  bottom: 0vh;
  right: 0vw;
  width: 46vw;
  height: 26vh;
  transform: scaleX(-1);
  /* transition: position ease 2s; */
}

.character-looks-to-the-right {
  right: 0vw;
}

.character-looks-to-the-left {
  left: -2vw;
  transform: scaleX(1);
}

.cls-1 {
  fill: #070604;
}
.cls-2 {
  fill: #6c6329;
}
.cls-3 {
  fill: #8a671a;
}
.cls-4 {
  fill: #4a2111;
}
.cls-5 {
  fill: #e8a455;
}
.cls-6 {
  fill: #fff;
}
.cls-7 {
  fill: #2e5d28;
}
