.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease;
}

.next-btn {
  background-image: url("../../media/images-lomda/nextBtn\ 15.32.30.png");
  width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  transform: scaleX(-1);
  position: relative;
  right: 34vw;
  top: -1vh;
}

.mission-title {
  position: relative;
  font-size: 13vw;
  width: 100%;
  top: -8vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-family: title;
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.start-mission-btn {
  margin: 0;
  position: relative;
  top: -5vh;
  right: -16vw;
  margin-bottom: 1vh;
  /* font-size: 4vw; */
  /* right: 30vw; */
}

.start-first-point-btn {
  margin-bottom: 25vh;
  font-family: bold-text;
  color: #0093e9;
  font-size: 7.3vw;
  min-height: 6vh;
  height: fit-content;
  position: relative;
  top: 3vh;
  width: 44vw;
  border: 1px solid #084365;
  /* padding: 10px; */
  box-shadow: 5px 10px #084365;
}

.start-first-point-btn:active {
  background-color: #dde7edbb;
  /* color: white; */
  box-shadow: 0 5px #084365;
  transform: translateY(4px);
}

.back-to-explenation-btn {
  position: relative;
  right: -16vw;
  top: -3vh;
  font-size: 5.5vw;
}

/*
html {
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  background: linear-gradient(135deg, #f4f2f3, #bfc6d0);
}

body {
  padding: 0 2rem;
} */
