.intro-page-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    134deg,
    rgb(125, 205, 166) 0%,
    rgb(110, 210, 208) 35%,
    rgb(99, 202, 210) 100%
  );
}

.mission1-background {
  background-image: url("../../media/images-lomda/background.png");
  background-size: 100% 100%;
}

.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease;
}

.next-btn {
  background-image: url("../../media/images-lomda/nextBtn\ 15.32.30.png");
  width: 5vw;
  height: 7vh;
  background-size: 100% 100%;
  transform: scaleX(-1);
  position: relative;
  right: 34vw;
  top: -3vh;
  cursor: pointer;
}

.next-btn-higher {
  /* top: -5vh; */
  top: -12vh;
}

.mission-title {
  position: relative;
  font-size: 6vw;
  width: 100%;
  top: -8vh;
  margin-bottom: 5vh;
  margin-top: 10vh;
  font-family: title;
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.start-mission-btn {
  margin: 0;
  position: relative;
  /* top: -5vh; */
  top: -7vh;
  right: -30vw;
  margin-bottom: 3vh;
  cursor: pointer;
}

.start-first-point-btn {
  margin-bottom: 32vh;
  /* margin-bottom: 25vh; */
  font-family: bold-text;
  color: #0093e9;
  cursor: pointer;
  font-size: 3.3vw;
  min-height: 6vh;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  /* top: 3vh; */
  top: 11vh;
  border: 1px solid #084365;
  /* padding: 10px; */
  box-shadow: 5px 10px #084365;
  min-width: 21vw;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f1f6f9bb;
}

.start-first-point-btn:active {
  background-color: #dde7edbb;
  /* color: white; */
  box-shadow: 0 5px #084365;
  transform: translateY(4px);
}

.back-to-explenation-btn {
  position: relative;
  right: -30vw;
  top: -6vh;
  font-size: 2vw;
}

@media only screen and (max-width: 768px) {
  .next-btn {
    background-image: url("../../media/images-lomda/nextBtn\ 15.32.30.png");
    width: 13vw;
    height: 7vh;
    background-size: 100% 100%;
    transform: scaleX(-1);
    position: relative;
    right: 34vw;
    top: -3vh;
  }
  .start-first-point-btn {
    margin-bottom: 25vh;
    font-family: bold-text;
    color: #0093e9;
    cursor: pointer;
    font-size: 6.3vw;
    min-height: 6vh;
    height: fit-content;
    position: relative;
    /* top: 3vh; */
    top: 0vh;
    width: 44vw;
    border: 1px solid #084365;
    /* padding: 10px; */
    box-shadow: 5px 10px #084365;
  }
  .mission-title {
    position: relative;
    font-size: 13vw;
    width: 100%;
    top: -8vh;
    margin-bottom: 5vh;
    margin-top: 10vh;
    font-family: title;
    color: aliceblue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .back-to-explenation-btn {
    position: relative;
    right: -16vw;
    top: -6vh;
    font-size: 5.5vw;
  }
  .start-mission-btn {
    margin: 0;
    position: relative;
    /* top: -5vh; */
    top: -7vh;
    right: -16vw;
    margin-bottom: 3vh;
    cursor: pointer;
  }
}
