.game-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-color: #a5eaf0b6;
}

.game-title {
  position: relative;
  font-size: 4vw;
  width: 90%;
  top: -9vh;
  /* top: -7vh; */
  /* top: 0vh; */
  /* margin-bottom: 9vh; */
  /* margin-top: -15vh; */
}
.text-container {
  width: 43%;
  height: 30vh;
  border: solid #0000ff;
  border-radius: 5rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
  position: relative;
  bottom: 16vh;
  height: -moz-fit-content;
  min-height: 17vh;
  height: fit-content;
}

.text-paragrapgh {
  width: 95%;
  font-size: 1.5vw;
  position: relative;
  top: -1vh;
}

.hint-icon {
  width: 2vw;
  height: 2vh;
  display: inline-block;
  background-color: yellow;
  background-size: 100% 100%;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0;
  position: relative;
  bottom: 8.5vh;
  /* margin-top: 7vh; */
  /* margin-bottom: 10vh; */
}

.letters-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 35vw; */
  justify-content: space-around;
  /* border: solid rgb(21, 255, 0); */
}

.low-row-letters {
  /* margin-right: 1vw; */
  margin-top: 2vh;
  position: relative;
  top: 1vh;
}

.letter-input {
  width: 1vw;
  height: 5.3vh;
  padding: 0.5em;
  margin-left: 2vw;
  font-size: 2vw;
  border-radius: 1.5rem;
  display: flex;
  text-align: center;
}

.correct {
  background-color: yellowgreen;
}

.wrong {
  background-color: rgb(223, 83, 83);
}

.hint-icon-hidden {
  visibility: hidden;
  display: none;
}

.display-btn {
  visibility: visible;
  display: block;
}

.hint-container-hidden {
  visibility: hidden;
  display: none;
}

.hint-container-showed {
  visibility: visible;
  display: block;
}

.hint-container {
  width: 43%;
  background-color: rgb(228, 185, 105);
  border-radius: 7rem;
  padding: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 18vh;
  position: absolute;
  /* position: absolute;
  top: 42vh;
  right: 27.5vw; */
}

.hint-container-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.504);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hint-title {
  position: relative;
  width: 90%;
  /* margin-top: 1vh; */
  top: 0vh;
  /* margin-bottom: 5vh; */
  font-size: 4vw;
  /* margin-bottom: 9vh; */
}

.close-hint-btn {
  width: 2vw;
  height: 3vh;
  margin: 0;
  background-color: rgb(140, 85, 27);
  background-size: 100% 100%;
  position: absolute;
  top: 2vh;
  right: 2vw;
}

.info-icon {
  width: 2vw;
  height: 3vh;
  display: inline-block;
  background-color: rgb(66, 119, 135);
  background-size: 100% 100%;
  margin-right: auto;
  margin-left: 2vw;
  position: relative;
  top: 1vh;
  /* visibility: hidden; */
}

.hint-text {
  width: 95%;
  font-size: 1.5vw;
  position: relative;
  position: relative;
  bottom: 5vh;
}

@media only screen and (max-width: 690px) {
  .game-title {
    position: relative;
    width: 90%;
    font-size: 9vw;
    margin-top: 8vh;
    margin-bottom: 2vh;
    /* margin-top: -15vh; */
  }

  .text-container {
    width: 78%;
    height: 30vh;
    border: solid #0000ff;
    border-radius: 2rem;
    padding: 0.3em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5vh;
    position: relative;
    bottom: 13vh;
    height: fit-content;
    min-height: 20vh;
  }

  .text-paragrapgh {
    width: 95%;
    font-size: 5vw;
  }

  .letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0;
    position: relative;
    bottom: 8.5vh;
    /* margin-top: 7vh; */
    /* margin-bottom: 10vh; */
  }

  .letters-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35vw;
    justify-content: space-around;
    /* border: solid rgb(21, 255, 0); */
  }

  .low-row-letters {
    margin-right: 1vw;
    margin-top: 2vh;
    position: relative;
    top: 1vh;
  }

  .letter-input {
    width: 4.5vw;
    height: 5.3vh;
    padding: 0.3em;
    margin-left: 4vw;
    font-size: 7vw;
    border-radius: 0.3rem;
    display: flex;
    text-align: center;
  }

  .hint-icon {
    width: 3vw;
    height: 3vh;
    display: inline-block;
    background-color: yellow;
    background-size: 100% 100%;
    margin-top: auto;
  }

  .info-icon {
    width: 7vw;
    height: 4vh;
    display: inline-block;
    background-color: rgb(66, 119, 135);
    background-size: 100% 100%;
    margin-right: auto;
    margin-left: 2vw;
    position: relative;
    top: 1vh;
    /* visibility: hidden; */
  }

  .hint-icon-hidden {
    visibility: hidden;
    display: none;
  }

  .display-btn {
    visibility: visible;
    display: block;
  }

  .hint-container {
    /* width: 78%;
    height: 30vh;
    background-color: rgb(228, 185, 105);
    border-radius: 3rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 25vh;
    position: absolute; */

    width: 78%;
    /* height: 30vh; */
    background-color: rgb(228, 185, 105);
    border-radius: 3rem;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 18vh;
    height: 20vh;
    position: absolute;
    top: 42vh;
    right: 4.5vw;
  }

  .hint-text {
    justify-self: center;
    position: relative;
    bottom: 5vh;
    width: 95%;
    font-size: 5vw;
  }

  .hint-title {
    position: relative;
    top: 0.1vh;
    margin-bottom: 5vh;
  }

  .close-hint-btn {
    width: 7vw;
    height: 4vh;
    margin: 0;
    background-color: rgb(140, 85, 27);
    background-size: 100% 100%;
    position: absolute;
    top: 2vh;
    right: 10vw;
  }
}
