.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-btn {
  background-image: url("../../../media/nextBtn.png");
  width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  transform: scaleX(-1);
  position: relative;
  right: 34vw;
  top: 5vh;
}

/*
html {
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  background: linear-gradient(135deg, #f4f2f3, #bfc6d0);
}

body {
  padding: 0 2rem;
} */
