.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .speech-bubble {
  position: relative;
  width: 60vw;
  background-color: #fff;
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.speech-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  transform: rotateY(180deg);
  background-color: aqua;

  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

html {
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  background: linear-gradient(135deg, #f4f2f3, #bfc6d0);
}

body {
  padding: 0 2rem;
} */
